<tr id="<%= task.id %>">
  <td><%= task.name %></td>
  <td><%= truncate(task.description) %></td>
  <td>
    <%= task.status %>
    <button class="js-delete-task btn pull-right">Delete</button>
  </td>
</tr>
